.steps-scroll-section {
  height: 200vh;
  position: relative;
}

.steps-image-container {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.steps-animated-image {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/step_0000.webp");
}
