.test-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-box-1 {
  background-color: rgb(191, 255, 94);
}
.test-box-2 {
  background-color: rgb(255, 128, 236);
}
