* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  padding: 20px;
  font-family: "Roboto Flex";
}

h1,
h2 {
  margin-bottom: 20px;
}

section {
  margin-bottom: 100px;
}
